@page
@model Lab05.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello This is Vandankumar Patel. I am a student of Computer Engineering Technology..</p>
</div>